<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <h1>Cadastro</h1>
    <form action="#" th:action="@{/register}" method="POST">
    	UserName:<input type="text" value="" name="userName"/>
    	Name:<input type="text" value="" name="name"/>
    	Password:<input type="password" value="" name="password"/>
    	Phone:<input type="text" value="" name="phone"/>
		
		<button type="submit">Cadastrar</button>
    </form>
    
</body>
</html>