<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Home User</h1>

		<tr th:each="user : ${users}">
			<td th:text="${user.id}"></td>
			<td th:text="${user.name}"></td>
			<td th:text="${user.phone}"></td>
			<td><a th:href="@{/edit/{userId}(userId = ${user.id})}">Edit User</a></td>
			<br/>
		</tr>
		
		<h1>Add Champion</h1>
		<a th:href="@{'/champion/home'}">Add Champion</a>
	    
    	   <form action="#" th:action="@{/logout}" th:object="${user}"  method="POST">
		
			<button type="submit">Exit</button>
	    </form>
    
	    
</body>
</html>